name: release

on:
  push:
    tags:
      - 'v*'

permissions:
  id-token: write

env:
  GO_VERSION: '1.24.4'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Install Cosign
        uses: sigstore/cosign-installer@v3
        with:
          cosign-release: 'v2.5.0'
      - name: Release Binaries
        uses: goreleaser/goreleaser-action@v6
        with:
          version: 'v2.9.0'
          args: release --clean
        env:
          GITHUB_TOKEN: ${{secrets.GH_PAT}}
